<div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
    <h2>About</h2>
    <hr class="w3-opacity">
    <p *ngFor="let paragraph of content">
        {{paragraph}}
    </p>

    <h3 class="w3-padding-16">My Skills</h3>
    <p class="w3-wide">Web Development</p>
    <p class="w3-wide">Angular 7</p>
    <p class="w3-wide">C#</p>
    <p class="w3-wide">SQL</p>

    <h4>Fundamentals Skill Practice</h4>
    <div class="row">
        <ul>
            <li *ngFor="let img of soloLearnImages">
                <img src="../../assets/images/{{img.url}}" class="zoom border-shadow">
            </li>
        </ul>
    </div>
    <br />

    <button class="w3-button w3-light-grey w3-padding-large w3-section">
        <a href="../../assets/documents/JerryDunsmore_2019_Short.pdf" target="_blank" class="no-underline"><i class="fa fa-download"></i> Download Resume</a>
    </button>
</div>
