<div class="w3-padding-32 w3-content" id="portfolio">
    <h2 class="w3-text-grey">My <a href="https://github.com/jldunsmore" target="_blank" class="no-underline link-hover">Git Hub</a> Portfolio</h2>
    <hr class="w3-opacity">

    <div class="w3-row-padding" style="margin:0 -16px">
        <div>
            <table class="portfolio">
                <th>This Site</th>
                <!-- <th>GURPS Spell Engine</th>
                <th>My Google Bookshelf</th> -->
                <tr>
                    <td #portfolio_angular (mouseenter)="onMouseEnter('portfolio_angular')" (mouseleave)="onMouseLeave('portfolio_angular')">
                        <a href="https://github.com/jldunsmore/portfolio-angular" target="_blank" class="no-underline">
                            <img id="portfolio" src="../assets/images/JerryDunsmoreGallifreyan100x100_ThickLines.png">
                        </a>
                    </td>
                    <!-- <td #git_magic_engine (mouseenter)="onMouseEnter('git_magic_engine')" (mouseleave)="onMouseLeave('git_magic_engine')">
                        <img id="gurpsspellengine" src="../assets/images/sccpre.cat-magic-book-png-100.png">
                    </td>
                    <td #git_bookshelf (mouseenter)="onMouseEnter('git_bookshelf')" (mouseleave)="onMouseLeave('git_bookshelf')">
                        <img id="bookshelf" src="../assets/images/stack-of-books-clipart-a_stack_school_books_royalty_free_080825-028960-394042.jpg">
                    </td> -->
                </tr>
            </table>
        </div>
    </div>
</div>
