<header class="w3-container w3-center" style="padding:128px 16px" id="home">
    <h1 class="w3-jumbo"><b>Jerry Dunsmore</b></h1>
    <p>Programmer and General Weirdo</p>
    <div class="w3-content w3-justify w3-text-grey w3-padding-32">
        <h2>Introduction</h2>
        <hr class="w3-opacity">
        <p *ngFor="let paragraph of mainContent">
            {{paragraph}}
        </p>
    </div>
    <div class="row">
        <ul>
            <li *ngFor="let img of profileImages">
                <img src="../../assets/images/{{img.url}}" class="border-shadow" height="240">
            </li>
        </ul>
    </div>
    <button class="w3-button w3-light-grey w3-padding-large w3-margin-top">
        <a href="../../assets/documents/JerryDunsmore_2019_Short.pdf" target="_blank" class="no-underline"><i class="fa fa-download"></i> Download Resume</a>
    </button>
</header>
